<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<head>
    <title>Create new Quest Room</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<!--<div th:replace="fragments/header :: header">-->

</div>
<div layout:fragment="content" style="width:60%">
    <h2>Create new Quest Room</h2>

    <form action="add-quest-room" method="post" th:object="${questRoom}">

        <div class="row form-group">
            <label class="col-sm-2 control-label">Name:</label>
            <div class="col-sm-10">
                <input name="name"/>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-sm-2 control-label">Description:</label>
            <div class="col-sm-10">
                <input name="description"/>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-sm-2 control-label">Next Room Name:</label>
            <div class="col-sm-10">
                <input name="childName"/>
            </div>
        </div>

        <button name="action" value="save-quest-room" class="btn btn-success col-sm-offset-2">Save</button>

        <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
    </form>
</div>
</body>
</html>