<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to the Quest Factory</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>

<!--<div th:replace="fragments/header :: header"/>-->

<center>
    <h1>Welcome to the QUEST FACTORY!</h1>
    <div style="max-width: 60%;min-width: 400px;">
        <p>
        </p>
    </div>
    <a href="/quests" class="btn btn-lg btn-success">Enter!</a>
</center>
</body>
</html>